@font-face {
  font-family: "Orbitron Medium";
  src: url("./fonts/orbitron-medium.otf");
}
body {
	font-family:"Orbitron Medium", sans-serif;
}
#stack {
	width:512px;
	height:512px;
	margin:0 auto;
	background:#000;
}
#stack .layer {
	width:512px;
	height:512px;
	float:left;
	position:absolute;
}
canvas.layer {
}